										
        <td class="cell100 column1">
            <p>
                <a href="javascript:void(0);" *ngIf="element.type==='firewall'">
                        <i class="fa fa-shield fa-2x text-success"> </i>
                    </a>
                    <a href="javascript:void(0);" *ngIf="element.type==='build'">
                        <i class="fa fa-desktop fa-2x  text-default"> </i>
                    </a>
                </p>
        </td>

        <td class="cell100 column1">
            <p>
                    {{element.owner}}
            </p>
               
        </td>
        <td class="cell100 column1">
            <p>
                    {{element.timeStarted}}
            </p>
                
         </td>
         <td class="cell100 column1">
             <p>
                    {{element.state}}
             </p>
                
         </td>
         
         <td colspan="20">
             <p>
                 WWWWW
             </p>
         </td>



