
    <div class="row">
        <div class="col-md-2">
            <app-icon-type [status]="element.state" [type]="element.type"></app-icon-type>
        </div>



        <div class="col-md-2"> {{element.owner}}
        </div>

        <div class="col-md-3">
            {{element.timeStarted}}
        </div>


        <div class="col-md-1">
            {{element.state}}
        </div>


        <div class="col-md-1">
            {{element.state}}
        </div>

        <div class="col-md-1">
            {{element.state}}
        </div>

        <div class="col-md-1">
            {{element.state}}
        </div>

        <div class="col-md-1">
            {{element.state}}
        </div>

    </div>
