										
        <td>
            <div>
                    <app-icon-type [status]="element.state" [type]="element.type"></app-icon-type>

            </div>
               
        </td>

        <td>
            <p>
                   

                    {{element.owner}}
                   
            </p>
               
        </td>
        <td>
            <p>
                    {{element.timeStarted}}
            </p>
                
         </td>
         <td>
             <p>
                    {{element.state}}
             </p>
                
         </td>
         <td>
            <p>
                   {{element.state}}
            </p>
               
        </td>
        <td>
            <p>
                   {{element.state}}
            </p>
               
        </td>
        <td>
            <p>
                   {{element.state}}
            </p>
               
        </td>
        <td>
            <p>
                   {{element.state}}
            </p>
               
        </td>
         


