@import '../../../styles/color-variables';

img {
    width: 60px;
}

.pc-title {
    color: $brand-primary;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    margin-top: 15px;

}

.pc-row {
    margin-top: 18px;
}

.date {
    color: black;
    font-size: 10px;
    margin-top: 18px;
    text-align: center;
}