.box {
    padding: 4px;
    width: 50px;
    border: 2px solid;
    width: 120px;
    height: 120px;
    margin-top: 5px;
    font-size: 9px;
}

.box p {
    margin: 0 0 2px;
    line-height: 10px;
}

.fa-desktop{
    width: 20px;
    font-size: 10px;
}