<app-box-layout title="Build">

    <div class="row pc-row">
        <div class="col-xs-6">
            <img src="assets/computer-640.png" alt="Debug">
            <p class="pc-title">Debug</p>
        </div>

        <div class="col-xs-6">
            <img src="assets/computer-640.png" alt="Release">
            <p class="pc-title">Release</p>
        </div>


    </div>
    <!-- <div class="row">
        <div class="col-xs-12">
           
        
    </div>
    </div> -->


    <p class="date">
            10:46 am - 23/12/2017
    </p>

</app-box-layout>