
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver1 m-b-110">


					<div class="table100 ver5 m-b-110">
						<div class="table100-head">
							<table>
								<thead>
									<tr class="row100 head">
										<th class="cell100 column1">Changelist / Build</th>
										<th class="cell100 column2">Owner</th>
										<th class="cell100 column3">Time Started</th>
										<th class="cell100 column4">State</th>
										<th class="cell100 column5">Metrics</th>
										<th class="cell100 column6">Build</th>
										<th class="cell100 column7">Unit Test</th>
										<th class="cell100 column8">Functional Test</th>

									</tr>
								</thead>
							</table>
						</div>

						<div class="table100-body js-pscroll">
							<table>
								<tbody>
									<tr class="row100 body">
										<td class="cell100 column1">Like a butterfly</td>
										<td class="cell100 column2">Boxing</td>
										<td class="cell100 column3">9:00 AM - 11:00 AM</td>
										<td class="cell100 column4">Aaron Chapman</td>
										<td class="cell100 column5">10</td>
										<td class="cell100 column6">10</td>
										<td class="cell100 column7">10</td>
										<td class="cell100 column8">10</td>
									</tr>

									<tr class="row100 body" *ngFor="let element of data; let i = index">

                                            <td class="cell100 column1">
                                                    <a href="javascript:void(0);" *ngIf="element.type==='firewall'">
                                                            <i class="fa fa-shield fa-2x text-success"> </i>
                                                        </a>
                                                        <a href="javascript:void(0);" *ngIf="element.type==='build'">
                                                            <i class="fa fa-desktop fa-2x  text-default"> </i>
                                                        </a>
                                            </td>

                                            <td class="cell100 column1">
                                                   {{element.owner}}
                                            </td>
                                            <td class="cell100 column1">
                                                    {{element.timeStarted}}
                                             </td>
                                             <td class="cell100 column1">
                                                    {{element.state}}
                                             </td>


									</tr>							
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>