@import '../../styles/color-variables';
app-mertics-box {
    float: left;
    margin: 20px;
}

app-build-box {
    float: left;
    margin: 20px;
    border-top: crimson;
}



.container {
    background: linear-gradient(to right, lighten($brand-grey, 40%), white);
}

.original {
    margin-bottom: 7px;
    padding: 8px;
    &.primary {
        background: linear-gradient(to right, lighten($brand-primary, 45%), white);
        color: $brand-primary;
        border-top: 2px solid $brand-primary;
        border-bottom: 2px solid $brand-primary;
        &:hover {
            color: lighten($brand-primary, 7%);
        }
    }
    &.success {
        background: linear-gradient(to right, lighten($brand-success, 50%), white);
        color: $brand-success;
        border-top: 2px solid $brand-success;
        border-bottom: 2px solid $brand-success;
        &:hover {
            color: lighten($brand-success, 7%);
        }
    }
    &.grey {
        background: linear-gradient(to right, lighten($brand-grey, 50%), white);
        color: $brand-grey;
        border-top: 2px solid $brand-grey;
        border-bottom: 2px solid $brand-grey;
        &:hover {
            color: lighten($brand-grey, 7%);
        }
    }
    &.danger {
        background: linear-gradient(to right, lighten($brand-danger, 40%), white);
        color: $brand-danger;
        border-top: 2px solid $brand-danger;
        border-bottom: 2px solid $brand-danger;
        &:hover {
            color: lighten($brand-danger, 7%);
        }
    }
}

tr:hover {
    td {
        cursor: pointer;
    }
}

