<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>Changelist / Build</th>
				<th>Owner</th>
				<th>Time Started</th>
				<th>State</th>
				<th>Metrics</th>
				<th>Build</th>
				<th>Unit Test</th>
				<th>Functional Test</th>

			</tr>
		</thead>
		<tbody>
				<ng-template ngFor let-element [ngForOf]="data">
				<tr app-item-row class="{{themeColor(element.state)}} original"  (click)="select(element)" [element]="element"></tr>	

					<tr class="{{themeColor(element.state)}} derivative" *ngIf="selected && element._id===selected._id">
						<td colspan="8">
								<app-mertics-box></app-mertics-box>
								<app-build-box></app-build-box>
						</td>
					</tr>

			</ng-template>
		</tbody>
	</table>

</div>





















<div>Icons made by
	<a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
	from
	<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
	<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>