@import '../../styles/color-variables';
app-mertics-box {
    float: left;
    margin: 20px;
}

app-build-box {
    float: left;
    margin: 20px;
    border-top: crimson;
}

table {
    border-collapse: separate;
    border-spacing: 0px 15px;
}
.derivative {
    border-top: none;
    border-collapse: collapse;
    border-spacing: 0px 0px;
}

th,
td {
    font-weight: unset;
    padding-right: 10px;
}

.column1 {
    width: 15%;
}

.column2 {
    width: 12%;
}

.column3 {
    width: 15%;
}

.column4,
.column5,
.column6,
.column7,
.column8 {
    width: 8%;
}

.column5 {
    width: 13%;
}

tr.primary.original td {
    border-top: 2px solid $brand-primary;
    border-bottom: 2px solid $brand-primary;
}

tr {
    &.primary {
        background: linear-gradient(to right, lighten($brand-primary, 45%), white);
        color: $brand-primary;
        &:hover {
            color: lighten($brand-primary, 7%);
        }
    }
    &.success {
        background: linear-gradient(to right, lighten($brand-success, 50%), white);
        color: $brand-success;
        &:hover {
            color: lighten($brand-success, 7%);
        }
    }
    &.grey {
        background: linear-gradient(to right, lighten($brand-grey, 50%), white);
        color: $brand-grey;
        &:hover {
            color: lighten($brand-grey, 7%);
        }
    }
    &.danger {
        background: linear-gradient(to right, lighten($brand-danger, 40%), white);
        color: $brand-danger;
        &:hover {
            color: lighten($brand-danger, 7%);
        }
    }
}

tr:hover {
    td {
        cursor: pointer;
    }
}

