<div class="cl cl--xlg push-left">
    <div class="changelist-build-container">
        <app-icon-type [status]="element.state" [type]="element.type"></app-icon-type>
        <div> {{element.name}} </div>
    </div>
</div>



<div class="cl"> {{element.owner}}
</div>

<div class="cl cl--xlg">
    {{element.timeStarted}}
</div>

<div class="cl">
    {{element.state | capitalizeFirst}}
</div>
<ng-container *ngIf="(!selected || element._id!==selected._id)">
    <div class="cl">
        <app-progress-bar [data]="element.metrics" [percentCompleted]="element.phase==='metrics'?element.percentCompleted:null"></app-progress-bar>
    </div>

    <div class="cl">
        <app-progress-bar [data]="element.build" [percentCompleted]="element.phase==='build'?element.percentCompleted:null"></app-progress-bar>
    </div>

    <div class="cl">
        <app-progress-bar [data]="element.unitTests" [percentCompleted]="element.phase==='unitTests'?element.percentCompleted:null"></app-progress-bar>
    </div>

    <div class="cl">
        <app-progress-bar [data]="element.functionalTests" [percentCompleted]="element.phase==='functionalTests'?element.percentCompleted:null"></app-progress-bar>
    </div>
</ng-container>