@import '../../../styles/color-variables';
.credit {
    position: fixed;
    bottom: 0;
    width: 100%;
    width: 100%;
    padding: 0px 0px 3px 6px;
}

.page-container {
    margin: auto;
    margin-top: 40px;
    width: 1071px;
}

app-table {
    text-align: center;
    font-size: 12px;
    padding: 7px;
    background: linear-gradient(to right, lighten($brand-grey, 27%), white);
}