@import '../../../styles/color-variables';
.credit {
    position: fixed;
    bottom: 0;
    width: 100%;
    width: 100%;
    padding: 0px 0px 3px 6px;
}

.page-container {
    margin-top: 40px;
}

app-table {
    width: 1071px;
    display: block;
    text-align: center;
    font-size: 12px;
    padding: 7px;
    margin: auto;
    background: linear-gradient(to right, $grey-table-back-color, white);
}