$gray-base : #000 ;
$gray-darker : lighten($gray-base, 13.5%) ; // #222
$gray-dark : lighten($gray-base, 20%) ; // #333
$gray : lighten($gray-base, 33.5%) ; // #555
$gray-light : lighten($gray-base, 46.7%) ; // #777
$gray-lighter : lighten($gray-base, 93.5%) ; // #eee
$brand-primary : #5F9CD3 ; 
$brand-success : #558039 ; 
$brand-flashy-green : #92BA27 ; 
$brand-success-light : rgb(145, 179, 149) ; // 17a925
$brand-info : rgb(107, 0, 232) ;
$brand-warning : #e87c04 ;
$brand-danger : #bf0713 ;
$brand-light-brown : #88441D ;
$brand-orange-brown: #B78306 ;
$brand-grey : #B3B3B3 ; // ff0000
$brand-yellow : #FED770 ;
$brand-yellow-text : #FBBD27 ;
$text-grey: #A4A4A7 ;
$grey-table-back-color: #F6FAFC;
// grey A6A6A6
//== Scaffolding
//
//## Settings for some of the most global styles.
//** Background color for `<body>`.
$body-bg : #fff ;
//** Global text color on `<body>`.
$text-color : $gray-dark ;
//** Global textual link color.
$link-color : $brand-primary ;
//** Link hover color set via `darken()` function.
$link-hover-color : darken($link-color, 15%) ;
//** Link hover decoration.
$link-hover-decoration: underline ;