@font-face {
    font-family: Lato-Regular;
    src: url('../assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Bold;
    src: url('../assets/fonts/Lato/Lato-Bold.ttf');
}


/*//////////////////////////////////////////////////////////////////
  [ Table ]*/

.limiter {
    width: 1366px;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; // padding: 33px 30px;
}

.wrap-table100 {
    // width: 1170px;
}

.slected-row {
    height: 250px;
}


/*//////////////////////////////////////////////////////////////////
  [ Table ]*/

tr {
    vertical-align: top;
}

tr.primary {
    background: lighten($brand-primary, 45%);
    color: $brand-primary;
}

tr.success {
    background: lighten($brand-success, 50%);
    color: $brand-success;
    border: 3px solid black
}

tr.grey {
    background: lighten($brand-grey, 20%);
    color: $brand-grey;
}

tr.danger {
    background: lighten($brand-danger, 40%);
    color: $brand-danger;
}

.table100 {
    background-color: rgb(245, 245, 245);
}

table {
    width: 100%;
}

th,
td {
    font-weight: unset;
    padding-right: 10px;
}

.column1 {
    width: 15%;
    padding-left: 40px;
}

.column2 {
    width: 12%;
}

.column3 {
    width: 15%;
}

.column4,
.column5,
.column6,
.column7,
.column8 {
    width: 8%;
}

.column5 {
    width: 13%;
}

.table100-head th {
    padding-top: 18px;
    padding-bottom: 18px;
}

.table100-body td {
    padding-top: 16px;
    padding-bottom: 16px;
}


/*==================================================================
  [ Fix header ]*/

.table100 {
    position: relative;
    padding-top: 60px;
}

.table100-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.table100-body {
    // max-height: 585px;
    overflow: auto;
}

.table100 {
    margin-right: -30px;
}

.table100 .table100-head {
    padding-right: 30px;
}

.table100 th {
    font-family: Lato-Bold;
    font-size: 14px;
    color: #555555;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: transparent;
}

.table100 td {
    font-family: Lato-Regular;
    font-size: 15px;
    line-height: 1.4;
    // background-color: #f7f7f7;
}

.table100 .table100-body tr {
    overflow: hidden;
    border-bottom: 10px solid #fff;
    // border-radius: 10px;
}

.table100 .table100-body table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

.table100 .table100-body td {
    border: solid 1px transparent;
    border-style: solid none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table100 .table100-body td:first-child {
    border-left-style: solid;
    // border-top-left-radius: 10px;
    // border-bottom-left-radius: 10px;
}

.table100 .table100-body td:last-child {
    border-right-style: solid;
    // border-bottom-right-radius: 10px;
    // border-top-right-radius: 10px;
}

.table100 tr:hover td {
    background-color: #ebebeb;
    cursor: pointer;
}

.table100 .table100-head th {
    padding-top: 25px;
    padding-bottom: 25px;
}


/*---------------------------------------------*/

.table100 {
    overflow: hidden;
}

.table100 .table100-body {
    padding-right: 30px;
}

.table100 .ps__rail-y {
    right: 0px;
}

.table100 .ps__rail-y::before {
    background-color: #ebebeb;
}

.table100 .ps__rail-y .ps__thumb-y::before {
    background-color: #cccccc;
}