@import '../../../styles/color-variables';

.box {
    padding: 4px;
    border: 2px solid;
    width: 170px;
    height: 170px;
    margin-top: 5px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    &.success {
        border-color: $brand-success;
        color: $brand-success;
        box-shadow: 3px 3px 5px grey;
    }
    &.danger {
        border-color: $brand-danger;
        color: $brand-danger;
    }
    cursor: pointer;
}