app-result-box {
    padding: 4px;
    width: 180px;
    height: 170px;
    margin-top: 5px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}