app-result-box {
    padding: 4px;
    width: 180px;
    height: 170px;
    margin-top: 5px;
    float: right;
    margin-right: 55px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

app-box-layout {
    width: 170px;
    height: 170px;
    float: left;
    margin-top: 5px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

app-build-box{
    display: flex;
    flex-direction: column;
    height: 77%;
    justify-content: space-between;
    margin-top: 20px;
}