<div>
    <div class="arrows-wrapper">
        <p>Metrics</p>

        <div class="arrow">
            <span class="glyphicon glyphicon-arrow-up"></span>
            <div class="text-test">Test</div>
            <span class="magnitude">65</span>
        </div>

        <div class="arrow">
            <span class="glyphicon glyphicon-arrow-down"></span>
            <div class="text-maintainability">Maintainability</div>
            <span class="magnitude">65</span>
        </div>

        <div class="arrow">
            <span class="glyphicon glyphicon-arrow-down"></span>
            <div class="text-security">Security</div>
            <span class="magnitude">65</span>
        </div>

        <div class="arrow">
            <span class="glyphicon glyphicon-arrow-down"></span>
            <div class="text-workmanship">Workmanship</div>
            <span class="magnitude">65</span>
        </div>

    </div>
</div>