    <app-box-layout title="Metrics">

        <div class="arrow-with-info test up">
            <span class="glyphicon glyphicon-arrow-up"></span>
            <div class="text">Test</div>
            <span class="magnitude">65</span>
        </div>

        <div class="arrow-with-info maintainability down">
            <span class="glyphicon glyphicon-arrow-down"></span>
            <div class="text">Maintainability</div>
            <span class="magnitude">65</span>
        </div>

        <div class="arrow-with-info security left">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <div class="text">Security</div>
            <span class="magnitude">65</span>
        </div>

        <div class="arrow-with-info workmanship right">
            <span class="glyphicon glyphicon-arrow-right"></span>
            <div class="text">Workmanship</div>
            <span class="magnitude">65</span>
        </div>

    </app-box-layout>