.svg {
    background:   url('../../assets/brickwall.svg');
    background-repeat: no-repeat;
    width: auto; /*or your image's width*/
    height: auto; /*or your image's height*/
    margin: 0;
    padding: 0;
    height: 100px;
    
}