@import '../../../styles/color-variables';


.progress{
    margin-bottom: 0;
    border-radius: 0;
    height: 27px;
    border: 1px solid darken($brand-grey, 7%);
    width: 48px;
}

.progress-bar{
    background-color: $brand-primary;

}

.danger{
    background: $brand-danger;
}

.success{
    background: $brand-success;
}

.gray{
    background: $brand-grey;
}