.progress-back {
    border: 2px solid #ccc!important;
    background: #ccc;
    height: 20px;
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
}

.element-row {
    position: relative;
}

.element-row:not(.expanded) {
    cursor: pointer;
}

.element-row:not(.expanded):hover {
    background: #f5f5f5;
}

.element-row.expanded {
    border-bottom-color: transparent;
}

.mat-column- {
    display: flex;
    justify-content: flex-end;
}

.mat-header-row,
.mat-row {
    border-color: blue;
    border-bottom-color: red;
    border-top-color: black;
    margin-top: 10px;
    margin-bottom: 20px;
}