.item-list {
    padding: 20px;
    text-align: center;
    background: rgb(218, 255, 218);
    border: 2px solid darkgreen;
    line-height: 50px;
    margin-block-start: 10px;
    margin-top: 20px;
}

// .list-item-icon{
//     padding: 10px
// }
ul {
    list-style-type: none;
}

.column-header {
    display: inline-block
}

.mock-table {
    margin: 20px;

    padding: 10px;
    background: rgb(235, 235, 231);
}