<div class="container">
  <h2>System Status</h2>

  <div class="mock-table">

  <div *ngFor="let item of displayedColumns" class="column-header col-xs-1">
    {{item}}
  </div>

  <ul>



    <li *ngFor="let element of data" class="row item-list">
      <div class="col-xs-1 list-item-icon">
        <a href="javascript:void(0);" *ngIf="element.type==='firewall'">
          <i class="fa fa-shield fa-2x text-success"> </i>
        </a>
        <a href="javascript:void(0);" *ngIf="element.type==='build'">
          <i class="fa fa-desktop fa-2x  text-default"> </i>
        </a>
      </div>

      <div class="col-xs-3">
        {{element.timeStarted}}
      </div>


      <div class="col-xs-3">
        {{element.owner}}
      </div>




    </li>
  </ul>
</div>
</div>