@import '../../../styles/color-variables';
.arrows-wrapper p {
    margin: 0 0 2px;
    line-height: 10px;
}

.glyphicon {
    font-size: 5em;
}

.glyphicon-arrow-up,
.glyphicon-arrow-down {
    transform: scale(1.2, 0.7);
}

.glyphicon-arrow-right,
.glyphicon-arrow-lfet {
    transform: scale(0.7, 1.2);
}

.glyphicon-arrow-up {
    color: $brand-success;
}

.glyphicon-arrow-down {
    color: $brand-danger;
}

.glyphicon-arrow-right {
    color: $brand-yellow;
}

.glyphicon-arrow-left {
    color: $brand-warning;
}

.arrow-with-info {
    float: left;
    height: 63px;
    width: 75px;
    .magnitude {
        bottom: 57px;
        left: 4px;
        font-size: 14px;
        position: relative;
    }
    .text {
        position: relative;
        font-size: 11px;
        color: black;
    } 
}



.left .magnitude , .right .magnitude {
    color: black;
}
.up .magnitude , .down .magnitude {
    color: white;
}

.arrow-with-info.test .text,
.arrow-with-info.maintainability .text {
    bottom: 11px;
}

