@import '../../../styles/color-variables';
.arrows-wrapper p {
    margin: 0 0 2px;
    line-height: 10px;
}

.glyphicon {
    font-size: 5em;
}

.glyphicon-arrow-up,
.glyphicon-arrow-down {
    transform: scale(1.2, 0.7);
}

.glyphicon-arrow-right,
.glyphicon-arrow-lfet {
    transform: scale(0.7, 1.2);
}

.glyphicon-arrow-up {
    color: $brand-success;
}

.glyphicon-arrow-down {
    color: $brand-danger;
}

.glyphicon-arrow-right {
    color: $brand-yellow;
}

.glyphicon-arrow-left {
    color: $brand-warning;
}

.arrow-with-info {
    margin-bottom: -29px;
    margin-left: 7px;
    margin-right: 21px;
    float: left;
    width: 50px;
    .magnitude {
        position: relative;
    }
    .text {
        position: relative;
        font-size: 11px;
        color: black;
    } 
}

.magnitude {
    bottom: 54px;
    left: 27px;
}
.left .magnitude , .right .magnitude {
    color: black;
}
.up .magnitude , .down .magnitude {
    color: white;
}

.arrow-with-info.test .text,
.arrow-with-info.maintainability .text {
    bottom: 11px;
}

.arrow-with-info.test .text {
    left: 22px;
}

.arrow-with-info.security .text {
    left: 13px;
}

.arrow-with-info.workmanship .text,
.arrow-with-info.security .text {
    bottom: 4px;
}