

.arrows-wrapper p {
    margin: 0 0 2px;
    line-height: 10px;
}

.glyphicon {
    font-size: 3.5em;
}

.number1 {
    position: relative;
    bottom: 37px;
    left: 15px;
    color: white;
    font-size: 12px;
}

.arrow-with-info {
    margin-bottom: -25px;
    margin-left: 8px;
    float: left;
    width: 50px;
    .magnitude {
        position: relative;
        color: white;
    }
    .text {
        position: relative;
        font-size: 10px;
        color: black;
    }
    &.up {
        .magnitude {
            bottom: 59px;
            left: 19px;
        }
    }
    &.left {
        .magnitude {
            bottom: 40px;
            left: 15px;
        }
    }
    &.right {
        .magnitude {
            bottom: 51px;
            left: 25px;
        }
    }
    &.down {
        .magnitude {
            bottom: 46px;
            left: 18px;
        }
    }
    &.test {
        .text {
            bottom: 10px;
            left: 11px;
        }
    }
    &.maintainability {
        .text {
            bottom: 10px;
            right: 4px;
        }
    }
    &.security {
        .text {
            bottom: 9px;
            left: 5px;
        }
    }
    &.workmanship {
        .text {
            bottom: 9px;
            right: 3px;
        }
    }
}

// span.lower{ transform: scaleY(0.9); }