@import '../../../styles/color-variables';
.huge {
    font-size: 19px;
}

.result-box-wrapper {
    text-align: center;
    font-size: 12px;
    padding: 4px;
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    float: left
}

.yellow {
    color: $brand-yellow;
}

.success {
    color: $brand-success;
}

.danger {
    color: $brand-danger;
}

.btn {
    border-radius: 0px;
}

select.form-control {
    border-radius: 0px;
    border: 1px solid $brand-primary;
    padding: 0px 2px;
    height: 23px;
}
