@import '../../../styles/color-variables';
.huge {
    font-size: 25px;
    line-height: 130%;
}

.text-black{
    color: black;
    font-size: 13px;
}
.slim-text{
    margin: 0;
}
.result-box-wrapper {
    padding: 4px;
    width: 170px;
    height: 170px;
    margin-top: 5px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 12px;
    // position: relative;
}

.yellow {
    color: $brand-yellow-text;
}

.success {
    color: $brand-success;
}

.danger {
    color: darken($brand-danger, 2%);
}

.btn {
    border-radius: 0px;
    width: 122px;
    font-size: 13px;
    position: absolute;
    bottom: 3px;

}

// .push-bottom {
//     position: absolute;
//     bottom: 0;
// }

select.form-control {
    border-radius: 0px;
    border: 1px solid $brand-primary;
    padding: 0px 2px;
    height: 23px;
}