.huge{
    font-size: 20px;

}

.result-box-wrapper{
    text-align: center;
    font-size: 12px;
    padding: 4px;
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    float: left

}

.btn{
    border-radius: 0px;
}
