<div class='alert alert-success Item__box'>
        <div class="col-xs-12">
            <strong>Build</strong>
        </div>

        <div class="col-xs-6 text-center text-primary Item__build-pc-container">
            <i class="icon-pc Item__build-pc"></i>
            <p class="Item__build-pc-title">Debug</p>
        </div>

        <div class="col-xs-6 text-center text-primary Item__build-pc-container">
            <i class="icon-pc Item__build-pc"></i>
            <p class="Item__build-pc-title">Release</p>
        </div>

        <div class="col-xs-12 text-center Item__build-date">
            {{randomDate}}
        </div>

    </div>