.Item__box {
    display: none;
    height: 200px;
    padding: 5px;
}

.alert-danger.Item__box {
    background-color: red
}

.alert-success.Item__box {
    background-color: green
}

.Item__box {
    cursor: pointer;
    opacity: 0.9
}

.Item__box:hover {
    opacity: 1
}

.Item__box p {
    margin-bottom: 2px;
    padding-top: 5px;
}

.Item__box .col-xs-8,
.Item__box .col-xs-6,
.Item__box .col-xs-4 {
    padding: 0;
}

.Item__box>.col-xs-6:nth-of-type(even) {
    padding-right: 5px;
}

.Item__box>.col-xs-6:nth-of-type(odd) {
    padding-left: 5px;
}

.Item__info_opened .Item__box {
    display: block;
    margin: 0;
}