@import '../../../styles/color-variables';
.percent-passed {
    margin-top: 25px;
    margin-left: 90px;
    .percent-number {
        font-size: 33px;
        &.text-warn {
            color: $brand-orange-brown;
        }
        &.text-success {
            color: $brand-flashy-green;
        }
    }
    p {
        font-size: 10px;
        color: black;
        margin-top: -7px;
        margin-left: 5px; // margin-left: 96px;
    }
}

.colored-bar {
    width: 147px;
    margin: auto;
    margin-top: 19px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    .data {
        margin-left: 55px;
    }
    .percent-number {
        font-size: 12px;
        font-weight: 800;
        margin-bottom: 10px;
        &.danger {
            color: $brand-light-brown;
        }
        &.success {
            color: $brand-success;
        }
    }
    p {
        position: relative;
        top: 14px;
        right: 43px;
        color: black;
        font-size: 10px;
    }
}

app-pie-chart {
    display: block;
    float: left;
}