<app-box-layout [title]="title" [isFailing]="testsData.failed">


    <app-pie-chart [countPassed]="testsData.countPassed" [countFailed]="testsData.countFailed"></app-pie-chart>
    <div class="percent-passed">
        <div class="{{themedClass}} percent-number">
            {{passedPercent}}%
        </div>
        <p> tests passed</p>
    </div>



    <div class="row">
        <div class="col-xs-12">

            <div class="colored-bar" [ngStyle]="{'background': 'linear-gradient(to right, #C6DFB5, #C6DFB5 ' + testsData.percentCovered + '%, #F6CBAE ' + testsData.percentCovered + '%)'}">

                <div class="data">
                    <div [ngClass]="{ 'percent-number': true, 'danger':testsData.percentCovered<50, 'success': testsData.percentCovered>=50 }">
                        {{testsData.percentCovered}}%
                    </div>
                </div>

                <p>code covered</p>

            </div>


        </div>
    </div>

</app-box-layout>