.percent-passed {
    margin-top: 25px;
    .percent-number {
        font-size: 26px;
    }
    p {
        font-size: 10px;
        color: black;
        margin-top: -7px;
    }
}

.colored-bar {
    width: 147px;
    margin: auto;
    margin-top: 22px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    .data {
        margin-left: 55px;
    }
    .percent-number {
        font-size: 12px;
        font-weight: 800;
        margin-bottom: 10px;
    }
    p {
        position: relative;
        top: 14px;
        right: 43px;
        color: black;
        font-size: 10px;
    }
}