<app-box-layout [title]="title" [isFailing]="testsData.failed">


    <div class="row">
        <div class="col-xs-6">
            <app-pie-chart [countPassed]="testsData.countPassed" [countFailed]="testsData.countFailed"></app-pie-chart>
        </div>
        <div class="col-xs-6">
            <div class="percent-passed">
                <div class="{{themedClass}} percent-number">
                    {{passedPercent}}%
                </div>
                <p> tests passed</p>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-xs-12">

            <div class="colored-bar" [ngStyle]="{'background': 'linear-gradient(to right, rgba(85, 127, 57, 0.30), rgba(85, 127, 57, 0.30) ' + testsData.percentCovered + '%, rgba(231, 125, 4, 0.46) ' + testsData.percentCovered + '%)'}">

                <div class="data">
                    <div class="percent-number text-danger">
                        {{testsData.percentCovered}}%
                    </div>
                </div>

                <p>code covered</p>

            </div>


        </div>
    </div>

</app-box-layout>