@import '../../../styles/color-variables';
div {
    &.success {
        border-color: $brand-success;
        color: $brand-success;
        box-shadow: 3px 3px 5px grey;
    }
    &.danger {
        border-color: $brand-danger;
        color: $brand-danger;
    }
    padding: 4px;
    border: 2px solid;
    width: 170px;
    height: 170px;
    margin-top: 5px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.wrapper {
    cursor: pointer;
}

.title {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
}