@import '../../../styles/color-variables';

.title {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
}


.box {
    padding: 4px;
    border: 2px solid;
    width: 100%;
    height: 100%;
    &.success {
        border-color: $brand-success;
        color: $brand-success;
        box-shadow: 3px 3px 5px grey;
    }
    &.danger {
        border-color: $brand-danger;
        color: $brand-danger;
    }
}