div {
    padding: 4px;
    border: 2px solid;
    width: 150px;
    height: 150px;
    margin-top: 5px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 5px grey;
}



.title {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
}