<div class="row">
    <div class="column-header col-xs-2">
        Changelist / Build
    </div>

    <div class="column-header col-xs-2">
        Owner
    </div>


    <div class="column-header col-xs-2">
        Time Started
    </div>


    <div class="column-header col-xs-1">
        State
    </div>


    <div class="column-header col-xs-1">
        Metrics
    </div>


    <div class="column-header col-xs-1">
        Build
    </div>


    <div class="column-header col-xs-1">
        Unit Test
    </div>

</div>


<div class="column-header col-xs-1">
    Functional Test
</div>