@import '../../../styles/color-variables';
.tabular {
    font-size: 12px;
    padding: 7px;
    background: linear-gradient(to right, lighten($brand-grey, 27%), white);
}

.page-container {
    margin: auto;
    min-width: 1000px;
    max-width: 1000px;
}

.element-wrapper {
    
    margin-bottom: 7px;
    padding: 8px;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    &.opened {
        border-right-width: 1px;
    }
    &.primary {
        background: linear-gradient(to right, lighten($brand-primary, 37%), white);
        color: $brand-primary;
        border-color: $brand-primary;
        &:hover {
            color: lighten($brand-primary, 7%);
        }
    }
    &.success {
        background: linear-gradient(to right, lighten($brand-success, 60%), white);
        color: $brand-success;
        border-color: $brand-success;
        &:hover {
            color: lighten($brand-success, 7%);
        }
    }
    &.grey {
        background: linear-gradient(to right, lighten($brand-grey, 27%), white);
        color: $brand-grey;
        border-color: $brand-grey;
        &:hover {
            color: lighten($brand-grey, 7%);
        }
    }
    &.danger {
        background: linear-gradient(to right, lighten($brand-danger, 60%), white);
        color: $brand-danger;
        border-color: $brand-danger;
        &:hover {
            color: lighten($brand-danger, 7%);
        }
    }
}

tr:hover {
    td {
        cursor: pointer;
    }
}