<div class="page-container">

	<br>
	<br>
	<br>
	<br>

	<div class="tabular">
		<div class="table-heading">
			<div class="row">
				<div class="cell col-xs-2"> Changelist / Build </div>
				<div class="cell col-xs-2"> Owner </div>
				<div class="cell col-xs-3"> Time Started </div>
				<div class="cell col-xs-1"> State </div>
				<div class="cell col-xs-1"> Metrics </div>
				<div class="cell col-xs-1"> Build </div>
				<div class="cell col-xs-1"> Unit Test </div>
				<div class="cell col-xs-1"> Functional Test</div>
			</div>

		</div>

		<div class="table-body" *ngIf="data">
			<div *ngFor="let element of data" [class.opened]="isOpened(element)" class="element-wrapper {{themeColor(element.state)}}"
			 [ngStyle]="cursorStyle(element)">

				<div class="original row" (click)="select(element)">


					<div class="col-xs-2">
						<app-icon-type [status]="element.state" [type]="element.type"></app-icon-type>
					</div>



					<div class="col-xs-2"> {{element.owner}}
					</div>

					<div class="col-xs-3">
						{{element.timeStarted}}
					</div>

					<div class="col-xs-1">
						{{element.state}}
					</div>

					<div class="col-xs-1">
						<app-progress-bar [didFail]="element.metrics.failed" *ngIf="element.metrics && (!selected || element._id!==selected._id)"></app-progress-bar>
					</div>

					<div class="col-xs-1">
						<app-progress-bar [didFail]="element.build.failed" *ngIf="element.build && (!selected || element._id!==selected._id)"></app-progress-bar>
					</div>

					<div class="col-xs-1">
						<app-progress-bar [didFail]="element.unitTests.failed" *ngIf="element.unitTests && (!selected || element._id!==selected._id)"></app-progress-bar>
					</div>

					<div class="col-xs-1">
						<app-progress-bar [didFail]="element.functionalTests.failed" *ngIf="element.functionalTests && (!selected || element._id!==selected._id)"></app-progress-bar>
					</div>
				</div>

				<div class="{{themeColor(element.state)}} derivative row" *ngIf="selected && element._id===selected._id" [@myAnimation]>
					<app-mertics-box *ngIf="element.metrics" [metrics]="element.metrics"></app-mertics-box>
					<app-build-box *ngIf="element.build" [build]="element.build"></app-build-box>
					<app-charts-box *ngIf="element.unitTests" [testsData]="element.unitTests" title="Unit Test"></app-charts-box>
					<app-charts-box *ngIf="element.functionalTests" [testsData]="element.functionalTests" title="Functional Test"></app-charts-box>
					<app-result-box *ngIf="element.state !== 'running' " [process]="element"></app-result-box>
					<app-spinner *ngIf="element.state==='running'"></app-spinner>


				</div>
			</div>
		</div>
	</div>
	<div>Icons made by
		<a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
		from
		<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
		<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
	</div>
</div>