@import '../../../styles/color-variables';


app-table-heading {
    font-size: 15px;
}

.element-wrapper {
    margin-bottom: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    &.opened {
        border-right-width: 1px;
    }
    &.primary {
        background: linear-gradient(to right, lighten($brand-primary, 37%), white 50%, white 50%);
        color: $brand-primary;
        border-color: $brand-primary;
        &:hover {
            color: lighten($brand-primary, 7%);
        }
    }
    &.success {
        background: linear-gradient(to right, lighten($brand-success, 60%), white 50%, white 50%);
        color: $brand-success;
        border-color: $brand-success;
        &:hover {
            color: lighten($brand-success, 7%);
        }
    }
    &.grey {
        background: linear-gradient(to right, lighten($brand-grey, 23%), white 50%, white 50%);
        color: $text-grey;
        border-color: $brand-grey;
        &:hover {
            color: lighten($brand-grey, 7%);
        }
    }
    &.danger {
        background: linear-gradient(to right, lighten($brand-danger, 60%), white 50%, white 50%);
        color: $brand-danger;
        border-color: $brand-danger;
        &:hover {
            color: lighten($brand-danger, 7%);
        }
    }
}

.item-row {
    display: flex;
    line-height: 27px;
    padding-right: 30px;
}

tr:hover {
    td {
        cursor: pointer;
    }
}


.push-left {
    padding-left: 3.5px;
}

