<app-table-heading class="item-row"> </app-table-heading>
<div class="table-body" *ngIf="data">
	<div *ngFor="let element of data" [class.opened]="isOpened(element)" class="element-wrapper {{themeColor(element.state)}}"
	 [ngStyle]="cursorStyle(element)">
		<app-table-list-item class="item-row" [selected]="selected" [element]="element" (click)="select(element)"></app-table-list-item>
		<app-extended-table-list-item class="{{themeColor(element.state)}} derivative row" *ngIf="selected && element._id===selected._id"
		 [element]="element"></app-extended-table-list-item>
	</div>
</div>