<div class="container">

	<br>
	<br>
	<br>
	<br>

	<div class="tabular">
		<div class="table-heading">
			<div class="row">
				<div class="cell col-xs-2"> Changelist / Build </div>
				<div class="cell col-xs-2"> Owner </div>
				<div class="cell col-xs-3"> Time Started </div>
				<div class="cell col-xs-1"> State </div>
				<div class="cell col-xs-1"> Metrics </div>
				<div class="cell col-xs-1"> Build </div>
				<div class="cell col-xs-1"> Unit Test </div>
				<div class="cell col-xs-1"> Functional Test</div>
			</div>

		</div>

		<div class="table-body">
			<div *ngFor="let element of data" class="element-wrapper {{themeColor(element.state)}}">

				<div class="original row" (click)="select(element)">


					<div class="col-xs-2">
						<app-icon-type [status]="element.state" [type]="element.type"></app-icon-type>
					</div>



					<div class="col-xs-2"> {{element.owner}}
					</div>

					<div class="col-xs-3">
						{{element.timeStarted}}
					</div>


					<div class="col-xs-1">
						{{element.state}}
					</div>


					<div class="col-xs-1">
						{{element.state}}
					</div>

					<div class="col-xs-1">
						{{element.state}}
					</div>

					<div class="col-xs-1">
						{{element.state}}
					</div>

					<div class="col-xs-1">
						{{element.state}}
					</div>
				</div>

				<div class="{{themeColor(element.state)}} derivative row" *ngIf="selected && element._id===selected._id">
					<app-mertics-box></app-mertics-box>
					<app-build-box></app-build-box>
					<app-charts-box percentageMagnitude="40"></app-charts-box>
				</div>
			</div>
		</div>
	</div>
</div>





















<div>Icons made by
	<a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
	from
	<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
	<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>